@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 13px;
        --font_size_title: 17px;
    }


    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 20px;
    }



    /*------------
        Header
    ------------*/



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/
    .main_title br
    {
        display: none;
    }


    .subtitle br
    {
        display: none;
    }


    /*------------------
        Form elements
    ------------------*/
    .form_section .bg
    {
        margin-top: 20px;
    }

    .form_section .form
    {
        max-width: 320px;
    }


    .form .title
    {
        font-size: 18px;

        padding-top: 5px;
        padding-bottom: 5px;
    }


    .form .line
    {
        margin-bottom: 4px;
    }


    .form .input
    {
        height: 30px;
    }


    .form .submit_btn
    {
        font-size: 18px;

        height: 38px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block ul li + li
    {
        margin-top: 10px;
    }

    .text_block ul li:before
    {
        top: 2px;

        width: 9px;
        height: 12px;
    }



    /*-----------------
		Main section
	-----------------*/
    .main_section .bg
    {
        margin-top: 20px;
    }

    .main_section .form
    {
        margin-right: auto;
    }



    /*-----------------
		Main about
	-----------------*/
    .main_about .text_block
    {
        margin-top: 20px;
    }



    /*-----------------
		Main info
	-----------------*/
    .row_info
    {
        flex-wrap: wrap;
    }


    .row_info .col_text
    {
        width: 100%;
        max-width: none;
        margin-top: 16px;
    }


    .row_info .col_img
    {
        width: 100%;

        order: 0;
    }

    .row_info .box_img
    {
        width: calc(100% + 30px);
        margin-right: -15px;
        margin-left: -15px;
    }


    .row_info .box_video
    {
        width: calc(100% + 30px);
        margin-right: -15px;
        margin-left: -15px;
    }


    .link_all
    {
        font-size: 14px;

        margin-top: 12px;

        text-align: center;
    }

    .link_all.pad
    {
        padding-left: 0;
    }



    /*-----------------
		History
	-----------------*/
    .history .text_block
    {
        width: calc(100% - 30px);
        margin-right: auto;
        padding: 16px 26px;
    }



    /*-----------------
		Service cost
	-----------------*/
    .service_cost .table .head
    {
        font-size: 14px;

        padding-right: 12px;
        padding-left: 12px;
    }

    .service_cost .table .item
    {
        min-height: 54px;
        margin-top: 6px;
    }

    .service_cost .table .item .val
    {
        font-size: 14px;

        width: calc(42% - 3px);
        padding-right: 12px;
        padding-left: 12px;
    }

    .service_cost .table .item .box
    {
        width: calc(58% - 3px);
        padding-right: 12px;
        padding-left: 12px;
    }

    .service_cost .table .item .number
    {
        font-size: 18px;
    }

    .service_cost .table .item .desc
    {
        font-size: 12px;

        margin-left: 12px;
    }


    /*-----------------
		Reviews
	-----------------*/
    .reviews .row_info .col_img
    {
        width: 100%;
        max-width: none;
    }


    .reviews .row_info .col_text
    {
        width: 100%;
        max-width: none;
    }



    /*-----------------
		Advantages
	-----------------*/
    .advantages .slider-button-next,
    .advantages .slider-button-prev
    {
        top: auto;
        bottom: 50%;

        display: block;

        margin-top: 0;
        margin-bottom: -30px;
    }


    .advantages .item
    {
        font-size: 16px;
    }


    .advantages_text .items
    {
        margin-left: -20px;
    }


    .advantages_text .item
    {
        width: calc(100%/4 - 20px);
        margin-left: 20px;
    }


    .advantages_text .item .number
    {
        font-size: 50px;
    }



    .advantages_text .item
    {
        width: calc(100%/2 - 20px);
    }



    /*-----------------
		Principle
	-----------------*/
    .principle .item
    {
        width: 100%;
        max-width: none;
        margin-top: 30px;
    }



    /*-----------------
		Program
	-----------------*/
    .program .item
    {
        width: calc(50% - 7px);

        flex-grow: 1;
    }

    .program .desc
    {
        font-size: 14px;
    }



    /*-----------------
		Reviews
	-----------------*/
    .reviews .name
    {
        margin-bottom: 16px;
    }


    .reviews .more
    {
        font-size: 14px;

        margin-top: 12px;
    }


    .reviews .link_all
    {
        text-align: left;
    }



    /*-----------------
		Articles
	-----------------*/
    .article .name
    {
        padding-right: 0;
        padding-left: 0;
    }

    .article .more
    {
        font-size: 14px;

        margin-top: 12px;
        padding-right: 0;
        padding-left: 0;
    }




    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 20px 0;
    }


    footer .col_l
    {
        width: 38%;
        max-width: 202px;
    }


    footer .list
    {
        display: none;
    }


    footer .bot
    {
        margin-top: 40px;
    }



    /*-----------
        PopUp
    -----------*/

    /* Страница ABOUT */
    .about .about_list li {
        padding-left: 20px;
        font-size: 13px;
        line-height: 20px;
    }
    .about .about_list li:after {
        top: 2px;
    }
    .about .text_block {
        margin-bottom: 17px;
    }
    .about .about_list {
        margin-top: 0px;
        margin-bottom: 17px;
    }



    /* Страница CONTACTS */
    .contacts_info,
    .contacts_info .mail a, 
    .contacts_info .phones a {
        font-size: 14px;
    }
    .contacts_info {
        margin-left: 0px;
    }
    .contacts_info > * {
        margin-left: 0px;
        width: 100%;
        margin-bottom: 22px;
    }
    .contacts_info .adres img {
        width: 21px;
        height: auto;
        margin-right: 10px;
    }
    .contacts_info .phone img {
        width: 17px;
        height: auto;
        margin-right: 13px;
    }
    .contacts_info .mail img {
        width: 22px;
        height: auto;
        margin-right: 10px;
    }
    .contacts_info .time img {
        width: 22px;
        height: auto;
        margin-right: 12px;
    }
    .contacts_info {
        margin-top: 20px;
    }
    .contacts .messengers a:first-child {
        width: 21px;
        height: auto;
        margin-right: 7px;
        margin-left: 15px;
    }
    .contacts .messengers a:last-child {
        width: 21px;
        height: auto;
    }





    /* Страница CONTACTS */

    .price_item ul li {
        padding-left: 30px;
        padding: 13px 25px 13px 40px;
        font-size: 15px;
        line-height: 24px;
    }
    .price_item ul li::after {
        left: 17px;
        top: 17px;
    }
    .price_item ul li span {
        font-size: 16px;
        width: auto;
    }
    .price_item-title {
        font-size: 16px;
        line-height: 23px;
        padding: 13px 0 8px;
        margin-bottom: 11px;
        margin-top: 23px;
    }
    .price {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .price_item ul li span.euro {
        font-size: 20px;
        line-height: 27px;
        font-weight: 500;
        color: #5b627b;   
    }



    /* Страница CONTACTS */

    .faq .accordion_item {
        padding-left: 30px;
        padding: 13px 15px 13px 15px;
        font-size: 15px;
        line-height: 24px;
    }
    .faq .accordion_item .head {
        font-size: 15px;
        padding-left: 22px;
        line-height: 20px;
    }
    .faq .accordion_item .head::after {
        top: 2px;
    }
    .price_item ul li span {
        font-size: 16px;
        width: auto;
    }
    .faq_item_title {
        font-size: 16px;
        line-height: 23px;
        padding: 13px 0 8px;
        margin-bottom: 11px;
        margin-top: 23px;
    }
    .faq {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .faq .accordion_item .data {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
    }



    /* Страница VIDEO-PAGE */
    .video-page .swiper-slide {
        padding: 10px;
    }
    .video-page .swiper-slide {
        margin-bottom: 20px;
    }
    .video-page_title {
        font-size: 15px;
        margin-top: 16px;
    }
    .video-page_text {
        font-size: 15px;
        line-height: 22px;
        margin-top: 10px;
    }
    .video-page_title-big {
        padding-left: 25px;
        font-size: 17px;
        line-height: 25px;
    }
    .video-page {
        margin-bottom: 20px;
        margin-top: 20px;
    }



    /* Страница BLOG-PAGE */ 
    .page_items > * {
        width: calc(100%/2 - 22px);
        margin-left: 22px;
    }
    .page_text {
        padding: 0;
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 0px;
    }
    .blog-page_menu ul {
        justify-content: flex-start;
    }
    .blog-page_menu ul li a {
        font-size: 14px;
    }
    .telegram_btn span {
        font-size: 16px;
    }
    .pagination {
        margin-top: 20px;
    }
    .pagination a {
        font-size: 15px;
    }
    .pagination a img {
        width: 5px;
    }
    .blog-page_top .blog-page_text {
        font-size: 15px;
    }



    /* Страница VIDEO-OPENED */

    .video-opened .author_photo {
        width: 100px;
        height: 100px;
    }
    .video-opened .text-block p {
        font-size: 14px;
        line-height: 20px;
    }
    .video-opened_info ul li {
        font-size: 14px;
        line-height: 20px;
    }
    .video-opened_bottom-title {
        font-size: 16px;
        line-height: 22px;
    }
    .video-opened_bottom-text {
        font-size: 14px;
        line-height: 20px;
    }
    .video-opened_bottom-phone a {
        font-size: 14px;
    }
    .video-opened_bottom-text a {
        font-size: 14px;
        line-height: 20px;
    }
    .video-opened .telegram_text {
        font-size: 15px;
        line-height: 20px;
    }



    /* Страница BLOG-PAGE */

    .reviews-page_text {
        font-size: 15px;
        line-height: 22px;
        margin-top: 13px;
    }
    .reviews-page .page_items {
        margin-top: 20px;
    }
    .reviews-page .page_items > * {
        margin-bottom: 25px;
    }



    /* Страница BLOG-OPENED */

    .blog-opened .text_block {
        font-size: 14px;
        line-height: 20px;
    }
    .blog-opened .text_block ul li {
        padding-left: 20px;
        font-size: 14px;
        line-height: 20px;
    }
    .blog-opened .text_block ul li + li {
        margin-top: 7px;
    }
    .blog-opened .text_block ul {
        margin-bottom: 13px;
    }
    .blog-opened .text_block p {
        margin-bottom: 10px;
    }
    .blog-opened .text_block ol li {
        padding-left: 10px;
        font-size: 14px;
        line-height: 20px;
    }
    .blog-opened .text_block ol li::after {
        width: 4px;
        top: 9px;
    }
    .text_block h3 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8px;
        margin-top: 14px;
    }



    /* Страница REVIEWS-OPENED */

    .reviews-opened .video-opened_telegram {
        margin-top: 20px;
    }
    .reviews-opened .page_items {
        margin-top: 20px;
    }
    .telegram_text {
        font-size: 15px;
    }


    


}
